$color-navy: hsl(201 100% 12%);
$color-navy-lite: hsl(201, 97%, 23%);
$color-red: hsl(351 66% 38%);
$color-sky: hsl(205 52% 65%);
$color-gold: hsl(36 100% 50%);
$color-white: hsl(0 0% 100%);
$color-grey: hsl(0, 0%, 83%);


$color-black:      #080504;
$color-charcoal:   #2F251F;
$color-copper:     #763D10;
$color-brass:      #AB6723;
$color-gold:       #DB9843;
$color-gold-light: #F8CE79;
$color-parchment:  #E7DEC3;
$color-smoke:      #938C86;


